body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: #00adef;
  border-radius: 50px;
}

::selection {
  background-color: #00adef;
  color: black;
}

.contBody {
  background-color: rgb(26, 26, 27);
}

.contGeneral {
  display: flex;
  flex-direction: column;
}

.contGeneral h1 {
  color: white;
  font-family: monospace;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1631px 365px #fff, 756px 1915px #fff, 954px 1389px #fff,
    1097px 317px #fff, 773px 777px #fff, 1442px 341px #fff, 431px 670px #fff,
    578px 1244px #fff, 420px 1296px #fff, 1345px 490px #fff, 895px 1179px #fff,
    181px 347px #fff, 1261px 751px #fff, 1092px 1531px #fff, 623px 1253px #fff,
    736px 1277px #fff, 928px 1216px #fff, 1972px 879px #fff, 1101px 1563px #fff,
    1264px 1351px #fff, 1448px 1269px #fff, 680px 1151px #fff, 390px 838px #fff,
    64px 1036px #fff, 1098px 722px #fff, 1226px 1434px #fff, 591px 791px #fff,
    1405px 1499px #fff, 80px 1158px #fff, 788px 1973px #fff, 1849px 1025px #fff,
    816px 732px #fff, 1624px 1116px #fff, 1724px 361px #fff, 722px 904px #fff,
    1709px 1276px #fff, 637px 1228px #fff, 707px 1915px #fff, 427px 97px #fff,
    1726px 1128px #fff, 957px 1343px #fff, 1994px 1341px #fff, 1420px 845px #fff,
    140px 1250px #fff, 807px 225px #fff, 653px 1966px #fff, 863px 1515px #fff,
    1389px 1510px #fff, 1116px 1324px #fff, 994px 1012px #fff, 905px 837px #fff,
    1039px 818px #fff, 1131px 987px #fff, 833px 415px #fff, 1718px 1047px #fff,
    1339px 1153px #fff, 1142px 682px #fff, 935px 1711px #fff, 1044px 510px #fff,
    1330px 1422px #fff, 1348px 765px #fff, 543px 1617px #fff, 818px 578px #fff,
    1719px 1678px #fff, 456px 1539px #fff, 671px 1707px #fff, 379px 329px #fff,
    1319px 1703px #fff, 761px 1949px #fff, 1949px 605px #fff, 1070px 1362px #fff,
    668px 254px #fff, 257px 418px #fff, 763px 1674px #fff, 1057px 862px #fff,
    849px 1978px #fff, 1149px 1539px #fff, 322px 1429px #fff, 523px 618px #fff,
    861px 1663px #fff, 1331px 1391px #fff, 1156px 75px #fff, 108px 1188px #fff,
    1322px 870px #fff, 1504px 865px #fff, 1350px 1700px #fff, 510px 1864px #fff,
    164px 546px #fff, 619px 1483px #fff, 1169px 59px #fff, 322px 1048px #fff,
    149px 1857px #fff, 1867px 1604px #fff, 1200px 197px #fff, 991px 1145px #fff,
    1290px 910px #fff, 1432px 1360px #fff, 235px 663px #fff, 1799px 1039px #fff,
    1966px 972px #fff, 465px 1169px #fff, 894px 1751px #fff, 1460px 1945px #fff,
    337px 1480px #fff, 442px 1683px #fff, 1121px 37px #fff, 727px 1248px #fff,
    336px 576px #fff, 448px 852px #fff, 1352px 1028px #fff, 1018px 1308px #fff,
    1997px 1776px #fff, 161px 508px #fff, 1063px 1148px #fff, 1123px 1253px #fff,
    74px 1663px #fff, 557px 140px #fff, 1791px 1554px #fff, 1201px 723px #fff,
    247px 500px #fff, 1715px 1432px #fff, 967px 833px #fff, 856px 304px #fff,
    1683px 536px #fff, 1200px 1919px #fff, 385px 1835px #fff, 187px 621px #fff,
    918px 1612px #fff, 463px 1539px #fff, 1692px 552px #fff, 1069px 1359px #fff,
    871px 196px #fff, 1184px 828px #fff, 1125px 1529px #fff, 972px 1644px #fff,
    1177px 519px #fff, 1201px 1271px #fff, 1267px 1385px #fff, 1728px 168px #fff,
    240px 1512px #fff, 89px 807px #fff, 423px 1223px #fff, 574px 22px #fff,
    1592px 400px #fff, 483px 534px #fff, 1737px 722px #fff, 1572px 1232px #fff,
    1973px 1576px #fff, 1809px 1547px #fff, 728px 972px #fff, 799px 659px #fff,
    566px 1512px #fff, 266px 1726px #fff, 1881px 1206px #fff, 1484px 940px #fff,
    444px 999px #fff, 1002px 1107px #fff, 1396px 104px #fff, 573px 1349px #fff,
    878px 293px #fff, 1735px 636px #fff, 1902px 548px #fff, 180px 1251px #fff,
    901px 1758px #fff, 398px 1197px #fff, 1215px 35px #fff, 1884px 99px #fff,
    1521px 812px #fff, 324px 743px #fff, 1399px 559px #fff, 312px 148px #fff,
    834px 722px #fff, 186px 1655px #fff, 1821px 1672px #fff, 1974px 1870px #fff,
    554px 77px #fff, 144px 1483px #fff, 1746px 501px #fff, 152px 1392px #fff,
    1946px 239px #fff, 1909px 1395px #fff, 1679px 573px #fff, 1630px 1899px #fff,
    1728px 1907px #fff, 1204px 242px #fff, 145px 866px #fff, 117px 329px #fff,
    456px 890px #fff, 1750px 1423px #fff, 866px 1994px #fff, 1474px 1203px #fff,
    1895px 1511px #fff, 166px 1730px #fff, 321px 1605px #fff, 39px 1154px #fff,
    965px 972px #fff, 206px 415px #fff, 1981px 107px #fff, 1399px 1057px #fff,
    1754px 854px #fff, 1895px 756px #fff, 680px 1945px #fff, 1732px 1826px #fff,
    519px 581px #fff, 1152px 77px #fff, 1978px 1294px #fff, 1620px 1423px #fff,
    277px 431px #fff, 1216px 1100px #fff, 115px 1977px #fff, 1146px 267px #fff,
    671px 1770px #fff, 884px 812px #fff, 106px 172px #fff, 1400px 1564px #fff,
    1685px 1274px #fff, 610px 1536px #fff, 1839px 967px #fff, 1860px 1203px #fff,
    1285px 1787px #fff, 1616px 470px #fff, 602px 1760px #fff, 215px 782px #fff,
    1190px 950px #fff, 1988px 562px #fff, 1154px 310px #fff, 1189px 650px #fff,
    312px 1494px #fff, 823px 348px #fff, 1858px 271px #fff, 489px 1012px #fff,
    458px 1950px #fff, 41px 1799px #fff, 1076px 1875px #fff, 695px 195px #fff,
    28px 48px #fff, 1778px 66px #fff, 504px 1489px #fff, 1051px 80px #fff,
    1406px 1774px #fff, 1732px 780px #fff, 1118px 853px #fff, 516px 285px #fff,
    1515px 1087px #fff, 889px 1246px #fff, 1313px 1745px #fff, 505px 1465px #fff,
    214px 98px #fff, 1127px 842px #fff, 1707px 1251px #fff, 1556px 122px #fff,
    223px 1098px #fff, 1169px 182px #fff, 1013px 1982px #fff, 1733px 443px #fff,
    1614px 539px #fff, 1820px 162px #fff, 1247px 811px #fff, 206px 1923px #fff,
    286px 878px #fff, 77px 915px #fff, 864px 1153px #fff, 1704px 285px #fff,
    59px 1983px #fff, 819px 1133px #fff, 140px 1302px #fff, 320px 1876px #fff,
    951px 1286px #fff, 584px 98px #fff, 1487px 1129px #fff, 1073px 1973px #fff,
    174px 530px #fff, 1461px 35px #fff, 1413px 905px #fff, 383px 814px #fff,
    1150px 306px #fff, 615px 1682px #fff, 247px 1839px #fff, 1382px 290px #fff,
    1485px 1740px #fff, 901px 1282px #fff, 794px 937px #fff, 612px 620px #fff,
    1017px 250px #fff, 989px 1353px #fff, 1469px 906px #fff, 1021px 1615px #fff,
    1568px 367px #fff, 1008px 729px #fff, 1751px 1993px #fff, 787px 547px #fff,
    313px 1261px #fff, 1292px 1876px #fff, 1692px 756px #fff, 821px 157px #fff,
    1236px 418px #fff, 1125px 1416px #fff, 625px 907px #fff, 1817px 1520px #fff,
    558px 927px #fff, 1545px 293px #fff, 1328px 1175px #fff, 845px 1499px #fff,
    1733px 1680px #fff, 150px 1327px #fff, 378px 620px #fff, 800px 1060px #fff,
    1635px 1356px #fff, 164px 1639px #fff, 424px 269px #fff, 1344px 602px #fff,
    1008px 1560px #fff, 515px 1489px #fff, 1471px 1117px #fff, 1410px 527px #fff,
    387px 1335px #fff, 1160px 1735px #fff, 1375px 1594px #fff,
    1658px 1375px #fff, 216px 302px #fff, 563px 386px #fff, 1218px 226px #fff,
    560px 1359px #fff, 949px 1089px #fff, 1736px 924px #fff, 1018px 1374px #fff,
    934px 1562px #fff, 1224px 1712px #fff, 559px 1348px #fff, 1123px 218px #fff,
    1073px 937px #fff, 596px 1499px #fff, 913px 951px #fff, 357px 770px #fff,
    495px 335px #fff, 279px 104px #fff, 758px 1659px #fff, 655px 763px #fff,
    1351px 636px #fff, 1407px 1502px #fff, 661px 688px #fff, 1654px 671px #fff,
    1783px 585px #fff, 372px 304px #fff, 1237px 1519px #fff, 61px 973px #fff,
    905px 331px #fff, 1484px 1224px #fff, 1500px 1927px #fff, 593px 1262px #fff,
    766px 604px #fff, 730px 247px #fff, 741px 1956px #fff, 672px 609px #fff,
    1192px 1552px #fff, 1382px 1134px #fff, 681px 1090px #fff, 73px 1777px #fff,
    46px 1068px #fff, 199px 88px #fff, 660px 136px #fff, 437px 1047px #fff,
    1157px 709px #fff, 1424px 252px #fff, 982px 657px #fff, 981px 880px #fff,
    263px 1319px #fff, 1955px 1180px #fff, 1469px 1531px #fff, 171px 48px #fff,
    148px 1050px #fff, 1776px 693px #fff, 1259px 294px #fff, 738px 1554px #fff,
    713px 819px #fff, 187px 234px #fff, 1665px 1890px #fff, 835px 832px #fff,
    1788px 1265px #fff, 1275px 1181px #fff, 1828px 1404px #fff,
    1285px 857px #fff, 1448px 1477px #fff, 718px 402px #fff, 265px 1515px #fff,
    1067px 1336px #fff, 1236px 142px #fff, 1266px 94px #fff, 598px 926px #fff,
    1327px 21px #fff, 1670px 630px #fff, 1055px 716px #fff, 396px 1740px #fff,
    984px 1662px #fff, 1793px 661px #fff, 418px 1941px #fff, 1571px 853px #fff,
    977px 269px #fff, 609px 302px #fff, 671px 1795px #fff, 1898px 1163px #fff,
    1534px 483px #fff, 1041px 1660px #fff, 97px 420px #fff, 1874px 964px #fff,
    895px 747px #fff, 588px 1939px #fff, 1932px 710px #fff, 1928px 1832px #fff,
    491px 1532px #fff, 234px 1628px #fff, 1877px 1454px #fff, 816px 1479px #fff,
    357px 1884px #fff, 1642px 1762px #fff, 364px 1011px #fff, 1732px 1826px #fff,
    1451px 1008px #fff, 1112px 767px #fff, 1624px 412px #fff, 1111px 1890px #fff,
    734px 1050px #fff, 1917px 1173px #fff, 394px 1729px #fff, 838px 657px #fff,
    16px 564px #fff, 1342px 1424px #fff, 987px 478px #fff, 349px 1609px #fff,
    850px 179px #fff, 984px 751px #fff, 1549px 1188px #fff, 297px 260px #fff,
    1355px 226px #fff, 385px 1278px #fff, 678px 1533px #fff, 1481px 1595px #fff,
    1449px 27px #fff, 1480px 828px #fff, 1911px 87px #fff, 923px 182px #fff,
    1652px 1678px #fff, 1340px 1295px #fff, 1548px 1304px #fff, 708px 170px #fff,
    424px 1769px #fff, 1604px 1731px #fff, 916px 1382px #fff, 658px 1482px #fff,
    662px 1969px #fff, 179px 1800px #fff, 1459px 1041px #fff, 642px 1215px #fff,
    1160px 1492px #fff, 159px 1234px #fff, 1702px 1087px #fff, 691px 1884px #fff,
    1983px 1799px #fff, 1344px 1824px #fff, 269px 23px #fff, 1666px 210px #fff,
    928px 1111px #fff, 257px 44px #fff, 43px 227px #fff, 394px 1999px #fff,
    906px 1542px #fff, 1661px 290px #fff, 621px 1649px #fff, 1917px 1613px #fff,
    1389px 1217px #fff, 673px 781px #fff, 1736px 756px #fff, 492px 1651px #fff,
    1490px 574px #fff, 1700px 1528px #fff, 5px 537px #fff, 1924px 1935px #fff,
    688px 1270px #fff, 1422px 488px #fff, 408px 190px #fff, 1307px 326px #fff,
    1414px 1235px #fff, 572px 1043px #fff, 1328px 670px #fff, 223px 1305px #fff,
    1929px 1852px #fff, 1701px 179px #fff, 54px 209px #fff, 1487px 1103px #fff,
    884px 360px #fff, 471px 1001px #fff, 614px 1967px #fff, 1673px 273px #fff,
    1342px 1505px #fff, 809px 272px #fff, 460px 591px #fff, 660px 350px #fff,
    892px 1842px #fff, 1216px 423px #fff, 951px 156px #fff, 1397px 669px #fff,
    1624px 1497px #fff, 625px 1717px #fff, 1294px 1495px #fff, 608px 705px #fff,
    1019px 1645px #fff, 1969px 1865px #fff, 732px 1949px #fff,
    1705px 1424px #fff, 727px 1557px #fff, 285px 1651px #fff, 952px 597px #fff,
    638px 232px #fff, 766px 1427px #fff, 1503px 608px #fff, 1087px 1235px #fff,
    1263px 1523px #fff, 1378px 342px #fff, 423px 1962px #fff, 1353px 978px #fff,
    772px 299px #fff, 22px 1239px #fff, 1737px 1664px #fff, 1459px 1718px #fff,
    1718px 1421px #fff, 1070px 1893px #fff, 1713px 1988px #fff, 725px 65px #fff,
    584px 1882px #fff, 697px 767px #fff, 119px 1111px #fff, 1146px 833px #fff,
    517px 696px #fff, 1959px 821px #fff, 1312px 1130px #fff, 580px 1715px #fff,
    932px 1179px #fff, 1601px 588px #fff, 156px 1679px #fff, 90px 181px #fff,
    1806px 1961px #fff, 1983px 849px #fff, 1915px 367px #fff, 337px 1805px #fff,
    946px 197px #fff, 985px 1566px #fff, 1314px 590px #fff, 1887px 1622px #fff,
    976px 568px #fff, 985px 850px #fff, 40px 1635px #fff, 767px 1489px #fff,
    612px 457px #fff, 1506px 79px #fff, 1827px 36px #fff, 329px 1648px #fff,
    639px 664px #fff, 772px 650px #fff, 772px 1635px #fff, 1050px 1929px #fff,
    1831px 327px #fff, 156px 1237px #fff, 54px 331px #fff, 1605px 525px #fff,
    1319px 1164px #fff, 207px 996px #fff, 1399px 179px #fff, 779px 1029px #fff,
    1710px 1708px #fff, 156px 1895px #fff, 454px 751px #fff, 502px 1202px #fff,
    1161px 621px #fff, 1704px 1690px #fff, 1006px 100px #fff, 353px 1048px #fff,
    24px 1248px #fff, 1028px 306px #fff, 822px 882px #fff, 482px 1785px #fff,
    62px 265px #fff, 1607px 1347px #fff, 99px 1234px #fff, 133px 469px #fff,
    884px 402px #fff, 1602px 1415px #fff, 1169px 1837px #fff, 1516px 177px #fff,
    1385px 451px #fff, 128px 1492px #fff, 362px 1501px #fff, 1719px 681px #fff,
    410px 558px #fff, 1239px 1749px #fff, 1927px 576px #fff, 1255px 1964px #fff,
    399px 142px #fff, 760px 780px #fff, 771px 865px #fff, 794px 66px #fff,
    598px 1887px #fff, 1616px 1071px #fff, 193px 1564px #fff, 888px 39px #fff,
    773px 1596px #fff, 76px 1272px #fff, 1160px 1057px #fff, 1436px 766px #fff,
    132px 564px #fff, 1881px 1232px #fff, 1001px 1455px #fff, 48px 772px #fff,
    1886px 528px #fff, 932px 546px #fff, 769px 1727px #fff, 1184px 166px #fff,
    468px 608px #fff, 1581px 94px #fff, 1406px 123px #fff, 1769px 700px #fff,
    790px 1354px #fff, 1665px 1903px #fff, 1130px 1040px #fff, 1147px 877px #fff,
    1996px 1801px #fff, 1943px 1363px #fff, 91px 1136px #fff, 1554px 1684px #fff,
    409px 1984px #fff, 1037px 1481px #fff, 934px 1053px #fff, 452px 864px #fff,
    640px 1916px #fff, 1569px 1859px #fff, 1300px 1041px #fff, 365px 1871px #fff,
    1841px 1797px #fff, 1573px 161px #fff, 405px 1933px #fff, 289px 680px #fff,
    452px 1064px #fff, 1728px 1107px #fff, 469px 1563px #fff, 1736px 1830px #fff,
    702px 1586px #fff, 1286px 362px #fff, 685px 139px #fff, 1269px 382px #fff,
    907px 227px #fff, 854px 484px #fff, 1449px 1320px #fff, 400px 109px #fff,
    1907px 1989px #fff, 1625px 93px #fff, 1942px 1345px #fff, 810px 944px #fff,
    1807px 1180px #fff, 62px 1070px #fff, 484px 850px #fff, 574px 1262px #fff,
    899px 51px #fff, 1494px 1607px #fff, 735px 1761px #fff, 723px 34px #fff,
    873px 242px #fff, 1308px 1735px #fff, 806px 1605px #fff, 1431px 750px #fff,
    1549px 1117px #fff, 663px 825px #fff, 1194px 406px #fff, 808px 667px #fff,
    830px 1416px #fff, 1023px 506px #fff, 1297px 312px #fff, 131px 139px #fff,
    731px 1792px #fff, 1319px 875px #fff, 1994px 1375px #fff, 584px 1592px #fff,
    1871px 1798px #fff, 1842px 1394px #fff, 438px 295px #fff, 612px 1477px #fff,
    595px 180px #fff, 44px 481px #fff, 1882px 1447px #fff, 493px 806px #fff,
    1595px 1024px #fff, 277px 1756px #fff, 1745px 322px #fff, 908px 447px #fff,
    1259px 101px #fff, 1450px 1297px #fff, 528px 324px #fff, 1285px 612px #fff,
    1154px 1208px #fff, 1048px 1588px #fff, 1105px 1439px #fff, 408px 900px #fff;
  animation: animStar 150s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2300px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1631px 365px #fff, 756px 1915px #fff, 954px 1389px #fff,
    1097px 317px #fff, 773px 777px #fff, 1442px 341px #fff, 431px 670px #fff,
    578px 1244px #fff, 420px 1296px #fff, 1345px 490px #fff, 895px 1179px #fff,
    181px 347px #fff, 1261px 751px #fff, 1092px 1531px #fff, 623px 1253px #fff,
    736px 1277px #fff, 928px 1216px #fff, 1972px 879px #fff, 1101px 1563px #fff,
    1264px 1351px #fff, 1448px 1269px #fff, 680px 1151px #fff, 390px 838px #fff,
    64px 1036px #fff, 1098px 722px #fff, 1226px 1434px #fff, 591px 791px #fff,
    1405px 1499px #fff, 80px 1158px #fff, 788px 1973px #fff, 1849px 1025px #fff,
    816px 732px #fff, 1624px 1116px #fff, 1724px 361px #fff, 722px 904px #fff,
    1709px 1276px #fff, 637px 1228px #fff, 707px 1915px #fff, 427px 97px #fff,
    1726px 1128px #fff, 957px 1343px #fff, 1994px 1341px #fff, 1420px 845px #fff,
    140px 1250px #fff, 807px 225px #fff, 653px 1966px #fff, 863px 1515px #fff,
    1389px 1510px #fff, 1116px 1324px #fff, 994px 1012px #fff, 905px 837px #fff,
    1039px 818px #fff, 1131px 987px #fff, 833px 415px #fff, 1718px 1047px #fff,
    1339px 1153px #fff, 1142px 682px #fff, 935px 1711px #fff, 1044px 510px #fff,
    1330px 1422px #fff, 1348px 765px #fff, 543px 1617px #fff, 818px 578px #fff,
    1719px 1678px #fff, 456px 1539px #fff, 671px 1707px #fff, 379px 329px #fff,
    1319px 1703px #fff, 761px 1949px #fff, 1949px 605px #fff, 1070px 1362px #fff,
    668px 254px #fff, 257px 418px #fff, 763px 1674px #fff, 1057px 862px #fff,
    849px 1978px #fff, 1149px 1539px #fff, 322px 1429px #fff, 523px 618px #fff,
    861px 1663px #fff, 1331px 1391px #fff, 1156px 75px #fff, 108px 1188px #fff,
    1322px 870px #fff, 1504px 865px #fff, 1350px 1700px #fff, 510px 1864px #fff,
    164px 546px #fff, 619px 1483px #fff, 1169px 59px #fff, 322px 1048px #fff,
    149px 1857px #fff, 1867px 1604px #fff, 1200px 197px #fff, 991px 1145px #fff,
    1290px 910px #fff, 1432px 1360px #fff, 235px 663px #fff, 1799px 1039px #fff,
    1966px 972px #fff, 465px 1169px #fff, 894px 1751px #fff, 1460px 1945px #fff,
    337px 1480px #fff, 442px 1683px #fff, 1121px 37px #fff, 727px 1248px #fff,
    336px 576px #fff, 448px 852px #fff, 1352px 1028px #fff, 1018px 1308px #fff,
    1997px 1776px #fff, 161px 508px #fff, 1063px 1148px #fff, 1123px 1253px #fff,
    74px 1663px #fff, 557px 140px #fff, 1791px 1554px #fff, 1201px 723px #fff,
    247px 500px #fff, 1715px 1432px #fff, 967px 833px #fff, 856px 304px #fff,
    1683px 536px #fff, 1200px 1919px #fff, 385px 1835px #fff, 187px 621px #fff,
    918px 1612px #fff, 463px 1539px #fff, 1692px 552px #fff, 1069px 1359px #fff,
    871px 196px #fff, 1184px 828px #fff, 1125px 1529px #fff, 972px 1644px #fff,
    1177px 519px #fff, 1201px 1271px #fff, 1267px 1385px #fff, 1728px 168px #fff,
    240px 1512px #fff, 89px 807px #fff, 423px 1223px #fff, 574px 22px #fff,
    1592px 400px #fff, 483px 534px #fff, 1737px 722px #fff, 1572px 1232px #fff,
    1973px 1576px #fff, 1809px 1547px #fff, 728px 972px #fff, 799px 659px #fff,
    566px 1512px #fff, 266px 1726px #fff, 1881px 1206px #fff, 1484px 940px #fff,
    444px 999px #fff, 1002px 1107px #fff, 1396px 104px #fff, 573px 1349px #fff,
    878px 293px #fff, 1735px 636px #fff, 1902px 548px #fff, 180px 1251px #fff,
    901px 1758px #fff, 398px 1197px #fff, 1215px 35px #fff, 1884px 99px #fff,
    1521px 812px #fff, 324px 743px #fff, 1399px 559px #fff, 312px 148px #fff,
    834px 722px #fff, 186px 1655px #fff, 1821px 1672px #fff, 1974px 1870px #fff,
    554px 77px #fff, 144px 1483px #fff, 1746px 501px #fff, 152px 1392px #fff,
    1946px 239px #fff, 1909px 1395px #fff, 1679px 573px #fff, 1630px 1899px #fff,
    1728px 1907px #fff, 1204px 242px #fff, 145px 866px #fff, 117px 329px #fff,
    456px 890px #fff, 1750px 1423px #fff, 866px 1994px #fff, 1474px 1203px #fff,
    1895px 1511px #fff, 166px 1730px #fff, 321px 1605px #fff, 39px 1154px #fff,
    965px 972px #fff, 206px 415px #fff, 1981px 107px #fff, 1399px 1057px #fff,
    1754px 854px #fff, 1895px 756px #fff, 680px 1945px #fff, 1732px 1826px #fff,
    519px 581px #fff, 1152px 77px #fff, 1978px 1294px #fff, 1620px 1423px #fff,
    277px 431px #fff, 1216px 1100px #fff, 115px 1977px #fff, 1146px 267px #fff,
    671px 1770px #fff, 884px 812px #fff, 106px 172px #fff, 1400px 1564px #fff,
    1685px 1274px #fff, 610px 1536px #fff, 1839px 967px #fff, 1860px 1203px #fff,
    1285px 1787px #fff, 1616px 470px #fff, 602px 1760px #fff, 215px 782px #fff,
    1190px 950px #fff, 1988px 562px #fff, 1154px 310px #fff, 1189px 650px #fff,
    312px 1494px #fff, 823px 348px #fff, 1858px 271px #fff, 489px 1012px #fff,
    458px 1950px #fff, 41px 1799px #fff, 1076px 1875px #fff, 695px 195px #fff,
    28px 48px #fff, 1778px 66px #fff, 504px 1489px #fff, 1051px 80px #fff,
    1406px 1774px #fff, 1732px 780px #fff, 1118px 853px #fff, 516px 285px #fff,
    1515px 1087px #fff, 889px 1246px #fff, 1313px 1745px #fff, 505px 1465px #fff,
    214px 98px #fff, 1127px 842px #fff, 1707px 1251px #fff, 1556px 122px #fff,
    223px 1098px #fff, 1169px 182px #fff, 1013px 1982px #fff, 1733px 443px #fff,
    1614px 539px #fff, 1820px 162px #fff, 1247px 811px #fff, 206px 1923px #fff,
    286px 878px #fff, 77px 915px #fff, 864px 1153px #fff, 1704px 285px #fff,
    59px 1983px #fff, 819px 1133px #fff, 140px 1302px #fff, 320px 1876px #fff,
    951px 1286px #fff, 584px 98px #fff, 1487px 1129px #fff, 1073px 1973px #fff,
    174px 530px #fff, 1461px 35px #fff, 1413px 905px #fff, 383px 814px #fff,
    1150px 306px #fff, 615px 1682px #fff, 247px 1839px #fff, 1382px 290px #fff,
    1485px 1740px #fff, 901px 1282px #fff, 794px 937px #fff, 612px 620px #fff,
    1017px 250px #fff, 989px 1353px #fff, 1469px 906px #fff, 1021px 1615px #fff,
    1568px 367px #fff, 1008px 729px #fff, 1751px 1993px #fff, 787px 547px #fff,
    313px 1261px #fff, 1292px 1876px #fff, 1692px 756px #fff, 821px 157px #fff,
    1236px 418px #fff, 1125px 1416px #fff, 625px 907px #fff, 1817px 1520px #fff,
    558px 927px #fff, 1545px 293px #fff, 1328px 1175px #fff, 845px 1499px #fff,
    1733px 1680px #fff, 150px 1327px #fff, 378px 620px #fff, 800px 1060px #fff,
    1635px 1356px #fff, 164px 1639px #fff, 424px 269px #fff, 1344px 602px #fff,
    1008px 1560px #fff, 515px 1489px #fff, 1471px 1117px #fff, 1410px 527px #fff,
    387px 1335px #fff, 1160px 1735px #fff, 1375px 1594px #fff,
    1658px 1375px #fff, 216px 302px #fff, 563px 386px #fff, 1218px 226px #fff,
    560px 1359px #fff, 949px 1089px #fff, 1736px 924px #fff, 1018px 1374px #fff,
    934px 1562px #fff, 1224px 1712px #fff, 559px 1348px #fff, 1123px 218px #fff,
    1073px 937px #fff, 596px 1499px #fff, 913px 951px #fff, 357px 770px #fff,
    495px 335px #fff, 279px 104px #fff, 758px 1659px #fff, 655px 763px #fff,
    1351px 636px #fff, 1407px 1502px #fff, 661px 688px #fff, 1654px 671px #fff,
    1783px 585px #fff, 372px 304px #fff, 1237px 1519px #fff, 61px 973px #fff,
    905px 331px #fff, 1484px 1224px #fff, 1500px 1927px #fff, 593px 1262px #fff,
    766px 604px #fff, 730px 247px #fff, 741px 1956px #fff, 672px 609px #fff,
    1192px 1552px #fff, 1382px 1134px #fff, 681px 1090px #fff, 73px 1777px #fff,
    46px 1068px #fff, 199px 88px #fff, 660px 136px #fff, 437px 1047px #fff,
    1157px 709px #fff, 1424px 252px #fff, 982px 657px #fff, 981px 880px #fff,
    263px 1319px #fff, 1955px 1180px #fff, 1469px 1531px #fff, 171px 48px #fff,
    148px 1050px #fff, 1776px 693px #fff, 1259px 294px #fff, 738px 1554px #fff,
    713px 819px #fff, 187px 234px #fff, 1665px 1890px #fff, 835px 832px #fff,
    1788px 1265px #fff, 1275px 1181px #fff, 1828px 1404px #fff,
    1285px 857px #fff, 1448px 1477px #fff, 718px 402px #fff, 265px 1515px #fff,
    1067px 1336px #fff, 1236px 142px #fff, 1266px 94px #fff, 598px 926px #fff,
    1327px 21px #fff, 1670px 630px #fff, 1055px 716px #fff, 396px 1740px #fff,
    984px 1662px #fff, 1793px 661px #fff, 418px 1941px #fff, 1571px 853px #fff,
    977px 269px #fff, 609px 302px #fff, 671px 1795px #fff, 1898px 1163px #fff,
    1534px 483px #fff, 1041px 1660px #fff, 97px 420px #fff, 1874px 964px #fff,
    895px 747px #fff, 588px 1939px #fff, 1932px 710px #fff, 1928px 1832px #fff,
    491px 1532px #fff, 234px 1628px #fff, 1877px 1454px #fff, 816px 1479px #fff,
    357px 1884px #fff, 1642px 1762px #fff, 364px 1011px #fff, 1732px 1826px #fff,
    1451px 1008px #fff, 1112px 767px #fff, 1624px 412px #fff, 1111px 1890px #fff,
    734px 1050px #fff, 1917px 1173px #fff, 394px 1729px #fff, 838px 657px #fff,
    16px 564px #fff, 1342px 1424px #fff, 987px 478px #fff, 349px 1609px #fff,
    850px 179px #fff, 984px 751px #fff, 1549px 1188px #fff, 297px 260px #fff,
    1355px 226px #fff, 385px 1278px #fff, 678px 1533px #fff, 1481px 1595px #fff,
    1449px 27px #fff, 1480px 828px #fff, 1911px 87px #fff, 923px 182px #fff,
    1652px 1678px #fff, 1340px 1295px #fff, 1548px 1304px #fff, 708px 170px #fff,
    424px 1769px #fff, 1604px 1731px #fff, 916px 1382px #fff, 658px 1482px #fff,
    662px 1969px #fff, 179px 1800px #fff, 1459px 1041px #fff, 642px 1215px #fff,
    1160px 1492px #fff, 159px 1234px #fff, 1702px 1087px #fff, 691px 1884px #fff,
    1983px 1799px #fff, 1344px 1824px #fff, 269px 23px #fff, 1666px 210px #fff,
    928px 1111px #fff, 257px 44px #fff, 43px 227px #fff, 394px 1999px #fff,
    906px 1542px #fff, 1661px 290px #fff, 621px 1649px #fff, 1917px 1613px #fff,
    1389px 1217px #fff, 673px 781px #fff, 1736px 756px #fff, 492px 1651px #fff,
    1490px 574px #fff, 1700px 1528px #fff, 5px 537px #fff, 1924px 1935px #fff,
    688px 1270px #fff, 1422px 488px #fff, 408px 190px #fff, 1307px 326px #fff,
    1414px 1235px #fff, 572px 1043px #fff, 1328px 670px #fff, 223px 1305px #fff,
    1929px 1852px #fff, 1701px 179px #fff, 54px 209px #fff, 1487px 1103px #fff,
    884px 360px #fff, 471px 1001px #fff, 614px 1967px #fff, 1673px 273px #fff,
    1342px 1505px #fff, 809px 272px #fff, 460px 591px #fff, 660px 350px #fff,
    892px 1842px #fff, 1216px 423px #fff, 951px 156px #fff, 1397px 669px #fff,
    1624px 1497px #fff, 625px 1717px #fff, 1294px 1495px #fff, 608px 705px #fff,
    1019px 1645px #fff, 1969px 1865px #fff, 732px 1949px #fff,
    1705px 1424px #fff, 727px 1557px #fff, 285px 1651px #fff, 952px 597px #fff,
    638px 232px #fff, 766px 1427px #fff, 1503px 608px #fff, 1087px 1235px #fff,
    1263px 1523px #fff, 1378px 342px #fff, 423px 1962px #fff, 1353px 978px #fff,
    772px 299px #fff, 22px 1239px #fff, 1737px 1664px #fff, 1459px 1718px #fff,
    1718px 1421px #fff, 1070px 1893px #fff, 1713px 1988px #fff, 725px 65px #fff,
    584px 1882px #fff, 697px 767px #fff, 119px 1111px #fff, 1146px 833px #fff,
    517px 696px #fff, 1959px 821px #fff, 1312px 1130px #fff, 580px 1715px #fff,
    932px 1179px #fff, 1601px 588px #fff, 156px 1679px #fff, 90px 181px #fff,
    1806px 1961px #fff, 1983px 849px #fff, 1915px 367px #fff, 337px 1805px #fff,
    946px 197px #fff, 985px 1566px #fff, 1314px 590px #fff, 1887px 1622px #fff,
    976px 568px #fff, 985px 850px #fff, 40px 1635px #fff, 767px 1489px #fff,
    612px 457px #fff, 1506px 79px #fff, 1827px 36px #fff, 329px 1648px #fff,
    639px 664px #fff, 772px 650px #fff, 772px 1635px #fff, 1050px 1929px #fff,
    1831px 327px #fff, 156px 1237px #fff, 54px 331px #fff, 1605px 525px #fff,
    1319px 1164px #fff, 207px 996px #fff, 1399px 179px #fff, 779px 1029px #fff,
    1710px 1708px #fff, 156px 1895px #fff, 454px 751px #fff, 502px 1202px #fff,
    1161px 621px #fff, 1704px 1690px #fff, 1006px 100px #fff, 353px 1048px #fff,
    24px 1248px #fff, 1028px 306px #fff, 822px 882px #fff, 482px 1785px #fff,
    62px 265px #fff, 1607px 1347px #fff, 99px 1234px #fff, 133px 469px #fff,
    884px 402px #fff, 1602px 1415px #fff, 1169px 1837px #fff, 1516px 177px #fff,
    1385px 451px #fff, 128px 1492px #fff, 362px 1501px #fff, 1719px 681px #fff,
    410px 558px #fff, 1239px 1749px #fff, 1927px 576px #fff, 1255px 1964px #fff,
    399px 142px #fff, 760px 780px #fff, 771px 865px #fff, 794px 66px #fff,
    598px 1887px #fff, 1616px 1071px #fff, 193px 1564px #fff, 888px 39px #fff,
    773px 1596px #fff, 76px 1272px #fff, 1160px 1057px #fff, 1436px 766px #fff,
    132px 564px #fff, 1881px 1232px #fff, 1001px 1455px #fff, 48px 772px #fff,
    1886px 528px #fff, 932px 546px #fff, 769px 1727px #fff, 1184px 166px #fff,
    468px 608px #fff, 1581px 94px #fff, 1406px 123px #fff, 1769px 700px #fff,
    790px 1354px #fff, 1665px 1903px #fff, 1130px 1040px #fff, 1147px 877px #fff,
    1996px 1801px #fff, 1943px 1363px #fff, 91px 1136px #fff, 1554px 1684px #fff,
    409px 1984px #fff, 1037px 1481px #fff, 934px 1053px #fff, 452px 864px #fff,
    640px 1916px #fff, 1569px 1859px #fff, 1300px 1041px #fff, 365px 1871px #fff,
    1841px 1797px #fff, 1573px 161px #fff, 405px 1933px #fff, 289px 680px #fff,
    452px 1064px #fff, 1728px 1107px #fff, 469px 1563px #fff, 1736px 1830px #fff,
    702px 1586px #fff, 1286px 362px #fff, 685px 139px #fff, 1269px 382px #fff,
    907px 227px #fff, 854px 484px #fff, 1449px 1320px #fff, 400px 109px #fff,
    1907px 1989px #fff, 1625px 93px #fff, 1942px 1345px #fff, 810px 944px #fff,
    1807px 1180px #fff, 62px 1070px #fff, 484px 850px #fff, 574px 1262px #fff,
    899px 51px #fff, 1494px 1607px #fff, 735px 1761px #fff, 723px 34px #fff,
    873px 242px #fff, 1308px 1735px #fff, 806px 1605px #fff, 1431px 750px #fff,
    1549px 1117px #fff, 663px 825px #fff, 1194px 406px #fff, 808px 667px #fff,
    830px 1416px #fff, 1023px 506px #fff, 1297px 312px #fff, 131px 139px #fff,
    731px 1792px #fff, 1319px 875px #fff, 1994px 1375px #fff, 584px 1592px #fff,
    1871px 1798px #fff, 1842px 1394px #fff, 438px 295px #fff, 612px 1477px #fff,
    595px 180px #fff, 44px 481px #fff, 1882px 1447px #fff, 493px 806px #fff,
    1595px 1024px #fff, 277px 1756px #fff, 1745px 322px #fff, 908px 447px #fff,
    1259px 101px #fff, 1450px 1297px #fff, 528px 324px #fff, 1285px 612px #fff,
    1154px 1208px #fff, 1048px 1588px #fff, 1105px 1439px #fff, 408px 900px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1729px 793px #1d92d5, 1473px 923px #1d92d5, 1689px 1086px #1d92d5,
    273px 1209px #1d92d5, 456px 580px #1d92d5, 691px 1241px #1d92d5,
    413px 31px #1d92d5, 980px 1183px #1d92d5, 1501px 1031px #1d92d5,
    537px 1479px #1d92d5, 54px 1912px #1d92d5, 757px 166px #1d92d5,
    1007px 1788px #1d92d5, 319px 27px #1d92d5, 803px 1637px #1d92d5,
    1384px 575px #1d92d5, 1450px 1971px #1d92d5, 1903px 425px #1d92d5,
    291px 1691px #1d92d5, 1241px 209px #1d92d5, 1523px 989px #1d92d5,
    1257px 1739px #1d92d5, 678px 1344px #1d92d5, 1689px 712px #1d92d5,
    1406px 1703px #1d92d5, 697px 1751px #1d92d5, 1497px 784px #1d92d5,
    198px 1787px #1d92d5, 1942px 1706px #1d92d5, 781px 107px #1d92d5,
    472px 964px #1d92d5, 388px 1572px #1d92d5, 970px 1090px #1d92d5,
    1375px 119px #1d92d5, 1062px 631px #1d92d5, 137px 19px #1d92d5,
    1922px 1182px #1d92d5, 512px 491px #1d92d5, 1108px 1916px #1d92d5,
    1259px 335px #1d92d5, 1593px 22px #1d92d5, 1010px 1081px #1d92d5,
    1053px 1269px #1d92d5, 688px 906px #1d92d5, 1475px 750px #1d92d5,
    1907px 1150px #1d92d5, 1863px 221px #1d92d5, 102px 1653px #1d92d5,
    207px 70px #1d92d5, 1361px 1761px #1d92d5, 1527px 763px #1d92d5,
    745px 1203px #1d92d5, 723px 526px #1d92d5, 43px 505px #1d92d5,
    1641px 1133px #1d92d5, 1796px 246px #1d92d5, 271px 1536px #1d92d5,
    1403px 591px #1d92d5, 1719px 178px #1d92d5, 1361px 1124px #1d92d5,
    1614px 294px #1d92d5, 423px 944px #1d92d5, 1878px 286px #1d92d5,
    209px 1539px #1d92d5, 1750px 1544px #1d92d5, 1884px 681px #1d92d5,
    244px 1877px #1d92d5, 1646px 638px #1d92d5, 1586px 922px #1d92d5,
    1443px 1206px #1d92d5, 49px 221px #1d92d5, 462px 1426px #1d92d5,
    1849px 96px #1d92d5, 1803px 475px #1d92d5, 196px 1464px #1d92d5,
    185px 980px #1d92d5, 1243px 640px #1d92d5, 1853px 1160px #1d92d5,
    1744px 377px #1d92d5, 1280px 1842px #1d92d5, 1524px 930px #1d92d5,
    137px 190px #1d92d5, 1128px 207px #1d92d5, 274px 436px #1d92d5,
    1348px 1274px #1d92d5, 678px 1460px #1d92d5, 1057px 1132px #1d92d5,
    596px 387px #1d92d5, 1373px 459px #1d92d5, 1562px 751px #1d92d5,
    848px 1254px #1d92d5, 763px 1967px #1d92d5, 179px 918px #1d92d5,
    941px 1422px #1d92d5, 1411px 1300px #1d92d5, 460px 240px #1d92d5,
    345px 1909px #1d92d5, 1802px 497px #1d92d5, 1917px 1671px #1d92d5,
    1612px 1027px #1d92d5, 639px 398px #1d92d5, 1794px 1483px #1d92d5,
    862px 161px #1d92d5, 1113px 1069px #1d92d5, 277px 456px #1d92d5,
    675px 1294px #1d92d5, 1699px 259px #1d92d5, 1534px 1124px #1d92d5,
    450px 1337px #1d92d5, 745px 1251px #1d92d5, 365px 855px #1d92d5,
    962px 164px #1d92d5, 76px 598px #1d92d5, 1208px 719px #1d92d5,
    1598px 1119px #1d92d5, 1896px 883px #1d92d5, 1048px 729px #1d92d5,
    1974px 660px #1d92d5, 201px 1009px #1d92d5, 1184px 68px #1d92d5,
    1435px 989px #1d92d5, 1836px 1631px #1d92d5, 564px 231px #1d92d5,
    977px 449px #1d92d5, 38px 1511px #1d92d5, 287px 829px #1d92d5,
    481px 733px #1d92d5, 1155px 922px #1d92d5, 605px 676px #1d92d5,
    267px 434px #1d92d5, 542px 1038px #1d92d5, 1198px 49px #1d92d5,
    388px 351px #1d92d5, 467px 889px #1d92d5, 852px 951px #1d92d5,
    1159px 1494px #1d92d5, 1795px 634px #1d92d5, 559px 1825px #1d92d5,
    1762px 1292px #1d92d5, 1742px 1365px #1d92d5, 1380px 1569px #1d92d5,
    1558px 55px #1d92d5, 372px 777px #1d92d5, 1315px 927px #1d92d5,
    581px 1911px #1d92d5, 586px 395px #1d92d5, 1571px 1874px #1d92d5,
    1894px 1709px #1d92d5, 1978px 1160px #1d92d5, 1891px 352px #1d92d5,
    449px 889px #1d92d5, 123px 1348px #1d92d5, 227px 815px #1d92d5,
    711px 1757px #1d92d5, 1061px 1352px #1d92d5, 1809px 1491px #1d92d5,
    783px 1560px #1d92d5, 1990px 1770px #1d92d5, 420px 932px #1d92d5,
    1277px 387px #1d92d5, 420px 250px #1d92d5, 325px 1445px #1d92d5,
    895px 1228px #1d92d5, 1168px 1636px #1d92d5, 1364px 1607px #1d92d5,
    1748px 232px #1d92d5, 1785px 1366px #1d92d5, 1850px 1571px #1d92d5,
    1896px 1525px #1d92d5, 30px 817px #1d92d5, 374px 1678px #1d92d5,
    1730px 1074px #1d92d5, 73px 1952px #1d92d5, 1076px 1353px #1d92d5,
    1058px 854px #1d92d5, 1685px 588px #1d92d5, 805px 1534px #1d92d5,
    1190px 362px #1d92d5, 570px 1458px #1d92d5, 1931px 609px #1d92d5,
    1705px 711px #1d92d5, 366px 902px #1d92d5, 546px 1977px #1d92d5,
    348px 1392px #1d92d5, 1372px 1766px #1d92d5, 1143px 1566px #1d92d5,
    1815px 1530px #1d92d5, 422px 1385px #1d92d5, 226px 917px #1d92d5,
    1px 1104px #1d92d5, 26px 367px #1d92d5, 846px 955px #1d92d5,
    1677px 426px #1d92d5, 707px 1819px #1d92d5, 545px 1195px #1d92d5,
    960px 639px #1d92d5, 1073px 1980px #1d92d5, 1411px 99px #1d92d5,
    1468px 654px #1d92d5, 1898px 655px #1d92d5;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2300px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1729px 793px #1d92d5, 1473px 923px #1d92d5, 1689px 1086px #1d92d5,
    273px 1209px #1d92d5, 456px 580px #1d92d5, 691px 1241px #1d92d5,
    413px 31px #1d92d5, 980px 1183px #1d92d5, 1501px 1031px #1d92d5,
    537px 1479px #1d92d5, 54px 1912px #1d92d5, 757px 166px #1d92d5,
    1007px 1788px #1d92d5, 319px 27px #1d92d5, 803px 1637px #1d92d5,
    1384px 575px #1d92d5, 1450px 1971px #1d92d5, 1903px 425px #1d92d5,
    291px 1691px #1d92d5, 1241px 209px #1d92d5, 1523px 989px #1d92d5,
    1257px 1739px #1d92d5, 678px 1344px #1d92d5, 1689px 712px #1d92d5,
    1406px 1703px #1d92d5, 697px 1751px #1d92d5, 1497px 784px #1d92d5,
    198px 1787px #1d92d5, 1942px 1706px #1d92d5, 781px 107px #1d92d5,
    472px 964px #1d92d5, 388px 1572px #1d92d5, 970px 1090px #1d92d5,
    1375px 119px #1d92d5, 1062px 631px #1d92d5, 137px 19px #1d92d5,
    1922px 1182px #1d92d5, 512px 491px #1d92d5, 1108px 1916px #1d92d5,
    1259px 335px #1d92d5, 1593px 22px #1d92d5, 1010px 1081px #1d92d5,
    1053px 1269px #1d92d5, 688px 906px #1d92d5, 1475px 750px #1d92d5,
    1907px 1150px #1d92d5, 1863px 221px #1d92d5, 102px 1653px #1d92d5,
    207px 70px #1d92d5, 1361px 1761px #1d92d5, 1527px 763px #1d92d5,
    745px 1203px #1d92d5, 723px 526px #1d92d5, 43px 505px #1d92d5,
    1641px 1133px #1d92d5, 1796px 246px #1d92d5, 271px 1536px #1d92d5,
    1403px 591px #1d92d5, 1719px 178px #1d92d5, 1361px 1124px #1d92d5,
    1614px 294px #1d92d5, 423px 944px #1d92d5, 1878px 286px #1d92d5,
    209px 1539px #1d92d5, 1750px 1544px #1d92d5, 1884px 681px #1d92d5,
    244px 1877px #1d92d5, 1646px 638px #1d92d5, 1586px 922px #1d92d5,
    1443px 1206px #1d92d5, 49px 221px #1d92d5, 462px 1426px #1d92d5,
    1849px 96px #1d92d5, 1803px 475px #1d92d5, 196px 1464px #1d92d5,
    185px 980px #1d92d5, 1243px 640px #1d92d5, 1853px 1160px #1d92d5,
    1744px 377px #1d92d5, 1280px 1842px #1d92d5, 1524px 930px #1d92d5,
    137px 190px #1d92d5, 1128px 207px #1d92d5, 274px 436px #1d92d5,
    1348px 1274px #1d92d5, 678px 1460px #1d92d5, 1057px 1132px #1d92d5,
    596px 387px #1d92d5, 1373px 459px #1d92d5, 1562px 751px #1d92d5,
    848px 1254px #1d92d5, 763px 1967px #1d92d5, 179px 918px #1d92d5,
    941px 1422px #1d92d5, 1411px 1300px #1d92d5, 460px 240px #1d92d5,
    345px 1909px #1d92d5, 1802px 497px #1d92d5, 1917px 1671px #1d92d5,
    1612px 1027px #1d92d5, 639px 398px #1d92d5, 1794px 1483px #1d92d5,
    862px 161px #1d92d5, 1113px 1069px #1d92d5, 277px 456px #1d92d5,
    675px 1294px #1d92d5, 1699px 259px #1d92d5, 1534px 1124px #1d92d5,
    450px 1337px #1d92d5, 745px 1251px #1d92d5, 365px 855px #1d92d5,
    962px 164px #1d92d5, 76px 598px #1d92d5, 1208px 719px #1d92d5,
    1598px 1119px #1d92d5, 1896px 883px #1d92d5, 1048px 729px #1d92d5,
    1974px 660px #1d92d5, 201px 1009px #1d92d5, 1184px 68px #1d92d5,
    1435px 989px #1d92d5, 1836px 1631px #1d92d5, 564px 231px #1d92d5,
    977px 449px #1d92d5, 38px 1511px #1d92d5, 287px 829px #1d92d5,
    481px 733px #1d92d5, 1155px 922px #1d92d5, 605px 676px #1d92d5,
    267px 434px #1d92d5, 542px 1038px #1d92d5, 1198px 49px #1d92d5,
    388px 351px #1d92d5, 467px 889px #1d92d5, 852px 951px #1d92d5,
    1159px 1494px #1d92d5, 1795px 634px #1d92d5, 559px 1825px #1d92d5,
    1762px 1292px #1d92d5, 1742px 1365px #1d92d5, 1380px 1569px #1d92d5,
    1558px 55px #1d92d5, 372px 777px #1d92d5, 1315px 927px #1d92d5,
    581px 1911px #1d92d5, 586px 395px #1d92d5, 1571px 1874px #1d92d5,
    1894px 1709px #1d92d5, 1978px 1160px #1d92d5, 1891px 352px #1d92d5,
    449px 889px #1d92d5, 123px 1348px #1d92d5, 227px 815px #1d92d5,
    711px 1757px #1d92d5, 1061px 1352px #1d92d5, 1809px 1491px #1d92d5,
    783px 1560px #1d92d5, 1990px 1770px #1d92d5, 420px 932px #1d92d5,
    1277px 387px #1d92d5, 420px 250px #1d92d5, 325px 1445px #1d92d5,
    895px 1228px #1d92d5, 1168px 1636px #1d92d5, 1364px 1607px #1d92d5,
    1748px 232px #1d92d5, 1785px 1366px #1d92d5, 1850px 1571px #1d92d5,
    1896px 1525px #1d92d5, 30px 817px #1d92d5, 374px 1678px #1d92d5,
    1730px 1074px #1d92d5, 73px 1952px #1d92d5, 1076px 1353px #1d92d5,
    1058px 854px #1d92d5, 1685px 588px #1d92d5, 805px 1534px #1d92d5,
    1190px 362px #1d92d5, 570px 1458px #1d92d5, 1931px 609px #1d92d5,
    1705px 711px #1d92d5, 366px 902px #1d92d5, 546px 1977px #1d92d5,
    348px 1392px #1d92d5, 1372px 1766px #1d92d5, 1143px 1566px #1d92d5,
    1815px 1530px #1d92d5, 422px 1385px #1d92d5, 226px 917px #1d92d5,
    1px 1104px #1d92d5, 26px 367px #1d92d5, 846px 955px #1d92d5,
    1677px 426px #1d92d5, 707px 1819px #1d92d5, 545px 1195px #1d92d5,
    960px 639px #1d92d5, 1073px 1980px #1d92d5, 1411px 99px #1d92d5,
    1468px 654px #1d92d5, 1898px 655px #1d92d5;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1209px 145px #7a55d8, 84px 980px #7a55d8, 1623px 187px #7a55d8,
    586px 1271px #7a55d8, 159px 846px #7a55d8, 476px 1621px #7a55d8,
    449px 466px #7a55d8, 99px 1420px #7a55d8, 19px 457px #7a55d8,
    466px 580px #7a55d8, 1395px 1953px #7a55d8, 859px 1355px #7a55d8,
    1040px 1584px #7a55d8, 713px 165px #7a55d8, 645px 120px #7a55d8,
    1264px 589px #7a55d8, 1766px 995px #7a55d8, 614px 719px #7a55d8,
    717px 1001px #7a55d8, 174px 1683px #7a55d8, 338px 595px #7a55d8,
    1892px 1897px #7a55d8, 1111px 200px #7a55d8, 444px 645px #7a55d8,
    458px 1233px #7a55d8, 999px 1781px #7a55d8, 1771px 1243px #7a55d8,
    595px 744px #7a55d8, 622px 190px #7a55d8, 469px 1066px #7a55d8,
    1358px 1374px #7a55d8, 1598px 264px #7a55d8, 1435px 407px #7a55d8,
    1455px 1901px #7a55d8, 713px 1378px #7a55d8, 187px 281px #7a55d8,
    408px 1354px #7a55d8, 1834px 1071px #7a55d8, 486px 1125px #7a55d8,
    1195px 118px #7a55d8, 192px 1646px #7a55d8, 10px 380px #7a55d8,
    1199px 291px #7a55d8, 1893px 1488px #7a55d8, 1651px 731px #7a55d8,
    199px 571px #7a55d8, 942px 1470px #7a55d8, 574px 1918px #7a55d8,
    1691px 1705px #7a55d8, 1562px 474px #7a55d8, 507px 1957px #7a55d8,
    37px 507px #7a55d8, 1999px 1413px #7a55d8, 1446px 784px #7a55d8,
    522px 1982px #7a55d8, 1317px 1758px #7a55d8, 1966px 1425px #7a55d8,
    212px 971px #7a55d8, 138px 745px #7a55d8, 1619px 582px #7a55d8,
    119px 1542px #7a55d8, 583px 648px #7a55d8, 953px 1994px #7a55d8,
    629px 1637px #7a55d8, 1502px 1676px #7a55d8, 849px 981px #7a55d8,
    1649px 16px #7a55d8, 1696px 1786px #7a55d8, 1214px 498px #7a55d8,
    1250px 1051px #7a55d8, 108px 1669px #7a55d8, 1443px 542px #7a55d8,
    857px 473px #7a55d8, 474px 994px #7a55d8, 527px 167px #7a55d8,
    1589px 1523px #7a55d8, 322px 461px #7a55d8, 628px 1200px #7a55d8,
    1983px 348px #7a55d8, 1863px 823px #7a55d8, 1905px 959px #7a55d8,
    1558px 241px #7a55d8, 1017px 1571px #7a55d8, 1564px 659px #7a55d8,
    1px 1624px #7a55d8, 729px 1069px #7a55d8, 1923px 1291px #7a55d8,
    503px 441px #7a55d8, 704px 1026px #7a55d8, 938px 1796px #7a55d8,
    998px 927px #7a55d8, 590px 268px #7a55d8, 474px 428px #7a55d8,
    380px 44px #7a55d8, 1220px 1463px #7a55d8, 1843px 1947px #7a55d8,
    524px 1235px #7a55d8, 1512px 560px #7a55d8, 1598px 1369px #7a55d8,
    1600px 1375px #7a55d8;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2300px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1209px 145px #7a55d8, 84px 980px #7a55d8, 1623px 187px #7a55d8,
    586px 1271px #7a55d8, 159px 846px #7a55d8, 476px 1621px #7a55d8,
    449px 466px #7a55d8, 99px 1420px #7a55d8, 19px 457px #7a55d8,
    466px 580px #7a55d8, 1395px 1953px #7a55d8, 859px 1355px #7a55d8,
    1040px 1584px #7a55d8, 713px 165px #7a55d8, 645px 120px #7a55d8,
    1264px 589px #7a55d8, 1766px 995px #7a55d8, 614px 719px #7a55d8,
    717px 1001px #7a55d8, 174px 1683px #7a55d8, 338px 595px #7a55d8,
    1892px 1897px #7a55d8, 1111px 200px #7a55d8, 444px 645px #7a55d8,
    458px 1233px #7a55d8, 999px 1781px #7a55d8, 1771px 1243px #7a55d8,
    595px 744px #7a55d8, 622px 190px #7a55d8, 469px 1066px #7a55d8,
    1358px 1374px #7a55d8, 1598px 264px #7a55d8, 1435px 407px #7a55d8,
    1455px 1901px #7a55d8, 713px 1378px #7a55d8, 187px 281px #7a55d8,
    408px 1354px #7a55d8, 1834px 1071px #7a55d8, 486px 1125px #7a55d8,
    1195px 118px #7a55d8, 192px 1646px #7a55d8, 10px 380px #7a55d8,
    1199px 291px #7a55d8, 1893px 1488px #7a55d8, 1651px 731px #7a55d8,
    199px 571px #7a55d8, 942px 1470px #7a55d8, 574px 1918px #7a55d8,
    1691px 1705px #7a55d8, 1562px 474px #7a55d8, 507px 1957px #7a55d8,
    37px 507px #7a55d8, 1999px 1413px #7a55d8, 1446px 784px #7a55d8,
    522px 1982px #7a55d8, 1317px 1758px #7a55d8, 1966px 1425px #7a55d8,
    212px 971px #7a55d8, 138px 745px #7a55d8, 1619px 582px #7a55d8,
    119px 1542px #7a55d8, 583px 648px #7a55d8, 953px 1994px #7a55d8,
    629px 1637px #7a55d8, 1502px 1676px #7a55d8, 849px 981px #7a55d8,
    1649px 16px #7a55d8, 1696px 1786px #7a55d8, 1214px 498px #7a55d8,
    1250px 1051px #7a55d8, 108px 1669px #7a55d8, 1443px 542px #7a55d8,
    857px 473px #7a55d8, 474px 994px #7a55d8, 527px 167px #7a55d8,
    1589px 1523px #7a55d8, 322px 461px #7a55d8, 628px 1200px #7a55d8,
    1983px 348px #7a55d8, 1863px 823px #7a55d8, 1905px 959px #7a55d8,
    1558px 241px #7a55d8, 1017px 1571px #7a55d8, 1564px 659px #7a55d8,
    1px 1624px #7a55d8, 729px 1069px #7a55d8, 1923px 1291px #7a55d8,
    503px 441px #7a55d8, 704px 1026px #7a55d8, 938px 1796px #7a55d8,
    998px 927px #7a55d8, 590px 268px #7a55d8, 474px 428px #7a55d8,
    380px 44px #7a55d8, 1220px 1463px #7a55d8, 1843px 1947px #7a55d8,
    524px 1235px #7a55d8, 1512px 560px #7a55d8, 1598px 1369px #7a55d8,
    1600px 1375px #7a55d8;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.stars-container {
  /* margin: 5em; */
  max-width: 10vh;
  display: block;
  overflow-y: unset;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  backdrop-filter: blur(5px);
  z-index: 100;
}

.navbar img {
  width: 100px;
  margin-left: 5%;
  /* filter: brightness(0) saturate(100%) invert(20%) sepia(74%) saturate(5033%)
    hue-rotate(225deg) brightness(105%) contrast(99%); */
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 70px;
  list-style: none;
  margin-right: 10%;
}

.nav-ul li {
  color: white;
  font-family: monospace;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-ul li:hover {
  color: #00adef;
}

.bars__menu {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5%;
  transform: scale(1.5);
  cursor: pointer;
  display: none;
}

.bars__menu span {
  display: block;
  width: 90%;
  height: 2.5px;
  background-color: #00adef;
  margin-top: 6px;
  border-radius: 5px;
  transform-origin: 0px 100%;
  transition: all 0.3s;
}

.activeline1__bars-menu {
  transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu {
  opacity: 0;
  margin-left: -30px;
}

.activeline3__bars-menu {
  transform: rotate(-45deg) translate(-1px, 1px);
}

.main {
  width: 100%;
  height: 85vh;
  padding-top: 100px;
  display: flex;
}

.mainText {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  position: relative;
}

.mainTitle {
  margin-left: 15%;
  position: absolute;
  top: 15%;
}

.photo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main h1 {
  font-size: 70px;
  font-weight: bolder;
  /* margin-left: 10%; */
  /* margin-top: 10%; */
}

.main span {
  display: block;
  color: #00adef;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 20ch;
  /* animation: typing 3s steps(20) alternate infinite; */
  animation: escribiendo 5s steps(20), parpadeo 0.4s infinite alternate;
  overflow: hidden;
}

.main span br {
  display: none;
}

@keyframes escribiendo {
  from {
    width: 0;
  }
}

@keyframes parpadeo {
  70% {
    border-color: transparent;
  }
}

/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 48%;
  }
} */

/* @keyframes blink {
  50% {
    border-color: transparent;
  }
} */

.mainPhoto {
  background-image: url("./img/foto.jpg");
  background-position: center;
  background-size: contain;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  /* position: absolute;
  top: 30%;
  right: 20%; */
  cursor: crosshair;
}

.mainBtns {
  width: 200px;
  height: 50px;
  position: absolute;
  margin-left: 15%;
  top: 58%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.main a {
}

.mainBtns a img {
  width: 40px;
  filter: invert(100%);
  transition: all 0.3s;
  cursor: pointer;
}

.mainBtns a img:hover {
  transform: scale(1.1);
}

.about {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  color: white;
  font-family: monospace;
  font-size: 50px;
}

.aboutInfo {
  display: flex;
  height: 80%;
  width: 90%;
}

.resaltar {
  color: #00adef;
}

.aboutImg {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dev {
  width: 75%;
  border-radius: 10px;
  transition: all 1s;
  z-index: 10;
}

.dev:hover {
  transform: rotate(5deg) scale(1.05);
  transition: all 0.3s;
}

.aboutP {
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.aboutP p {
  margin-top: 50px;
  color: white;
  font-family: monospace;
  font-size: 25px;
  line-height: 40px;
}

.aBtn {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aBtn a {
  width: 150px;
}

.aboutP button {
  font-size: 1rem;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 3px solid #00adef;
  border-radius: 1em;
  color: #fff;
  font-size: 18px;
  font-family: monospace;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #00adef;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutP button:hover {
  transform: translate(5px, -5px);
}

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.skills h2 {
  color: white;
  font-family: monospace;
  font-size: 50px;
  margin-bottom: 80px;
}

.skillsCont {
  width: 70%;
  display: grid;
  justify-content: center;
  place-items: center;
  gap: 10px;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card {
  width: 55%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  box-shadow: 0 0 15px #00adef;
  transition: all 0.3s;
  border-radius: 10px;
}

.cardImg {
  width: 40%;
  transition: all 0.3s;
}

.cardImg:hover {
}

.card:hover .cardImg {
  transform: scale(1.2);
}

.card h3 {
  color: white;
  font-family: monospace;
  font-size: 22px;
}

/* Contacto */

.contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contContacto {
  width: 50%;
  display: flex;
  justify-content: center;
}

.contacto h2 {
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 50px;
  margin-top: 100px;
}

.container_img--contacto {
  display: none;
}

.containerContacto {
  width: 90%;
  border-radius: 24px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_text--contacto {
  width: 100%;
}

.formContact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContact input {
  font-family: monospace;
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid #00adef;
  color: white;
  font-size: 20px;
  outline: none;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.formContact input:-webkit-autofill,
.formContact input:-webkit-autofill:hover,
.formContact input:-webkit-autofill:focus,
.formContact input:-webkit-autofill:active {
  -webkit-box-shadow: none;
}

.formContact input::placeholder {
  color: white;
}

.formContact .input-invalid {
  border: 1px solid #131520;
  color: #131520;
}

.formContact textarea {
  font-family: monospace;
  padding: 1rem;
  background-color: transparent;
  width: 100%;
  border-radius: 10px;
  border: 3px solid #00adef;
  color: white;
  font-size: 20px;
  outline: none;
  margin-bottom: 3rem;
  letter-spacing: 1px;
  resize: none;
}

.formContact textarea::placeholder {
  color: white;
}

.formContact textarea::-webkit-scrollbar {
  width: 8px;
}

.formContact textarea::-webkit-scrollbar-track {
  background-color: #141824;
}

.formContact textarea::-webkit-scrollbar-thumb {
  background-color: #131520;
}

.btnContact button {
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color: transparent;
  border: 3px solid #00adef;
  border-radius: 1em;
  color: #fff;
  font-size: 18px;
  font-family: monospace;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #00adef;
  bottom: 35%;
  left: 40%;
  cursor: pointer;
}

.btnContact button:hover {
  transform: translate(5px, -5px);
}

.portfolio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.portfolio h2 {
  color: white;
  font-family: monospace;
  font-size: 50px;
  margin-bottom: 80px;
}

.portfolioCont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

.portCard {
  border: 2px solid white;
  width: 100%;
  height: 60%;
  border-radius: 10px;
}

.portCardImg {
  width: 100%;
  height: 50%;
  background-position: top;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}

.portCardInfo {
  width: 100%;
  height: 40%;
  color: white;
  font-family: monospace;
  font-size: 20px;
}
.cardd {
  height: 250px;
  width: 500px;
  background: #313131;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease-in-out;
  position: relative;
  box-shadow: 0 0 15px #00adef;
  border-radius: 10px;
}

.img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 1;
  border-radius: 10px;
}

.textBox {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.textHead {
  color: white;
  font-family: monospace;
  font-size: 25px;
  font-weight: bold;
}

.textBox > span {
  font-size: 12px;
  color: lightgrey;
}

.cardd:hover > .textBox {
  opacity: 1;
}

.cardd:hover > .img {
  height: 65%;
  width: 65%;
  filter: blur(7px);
  animation: anim 3s infinite;
}

.btnsCard {
  display: flex;
  gap: 20px;
}

.btnsCard a {
  text-decoration: none;
}

.btnsCard button {
  padding: 5px 14px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: black;
  font-family: monospace;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.29);
}

.btnsCard button:hover {
  filter: invert(100%);
}

.btnsCard img {
  width: 25px;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.cardd:hover {
  transform: scale(1.04) rotate(-1deg);
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #111112;
  position: relative;
  bottom: 0;
  left: 0;
}

footer p {
  color: white;
  font-family: monospace;
  font-size: 12px;
}

/* @media (max-width: 768px) {
  .portfolio {
    border: 2px solid blue;
    height: 700px;
  }

  .portfolioCont {
    flex-direction: column;
    justify-content: center;
    height: 80%;
    border: 2px solid yellow;
  }

  .cardd {
    height: 45%;
    width: 100%;
    border: 2px solid red;
  }
} */

@media (max-width: 450px) {
  .cardd {
    height: 160px;
    width: 320px;
  }
}

@media (max-width: 649px) {
  .portfolioCont {
  }

  /* .cardd {
    min-height: 150px;
    max-width: 290px;
  } */

  .textHead {
    font-size: 20px;
  }

  .main span {
    width: 10ch;
    animation: escribiendo 2s steps(10), parpadeo 0.4s infinite alternate;
    overflow: hidden;
  }

  .main span br {
    display: block;
  }

  .mainText {
    position: relative;
  }

  .mainTitle {
    top: 1%;
  }

  .mainBtns {
    position: absolute;
    bottom: 0;
    margin-left: 0;
  }
}

@media (min-width: 650px) and (max-width: 999px) {
  .portfolioCont {
    width: 100%;
  }

  /* .cardd {
    min-height: 150px;
    max-width: 290px;
  } */

  .mainText {
    margin-left: 11%;
  }
}

@media (max-width: 1000px) {
  .navbar {
    background-color: rgb(26, 26, 27, 0.95);
    backdrop-filter: blur(5px);
  }

  .navbar img {
    width: 70px;
  }

  .nav-ul {
    flex-direction: column;
    position: absolute;
    background-color: rgb(26, 26, 27, 0.95);
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    top: 80%;
    right: -130%;
    padding-top: 100px;
    transition: all 0.6s;
  }

  .nav-ul__active {
    right: -12%;
    z-index: 1000;
  }

  .bars__menu {
    display: block;
  }

  .photo {
    width: 100%;
  }

  .mainPhoto {
    top: 73%;
    left: 10%;
    height: 300px;
    width: 300px;
  }

  .main {
    margin-bottom: 100px;
    flex-direction: column;
  }

  .mainText {
    width: 100%;
  }

  .mainTitle {
    width: 100%;
    margin-left: 0;
  }

  .main h1 {
    font-size: 50px;
  }

  .mainBtns {
    top: 80%;
    margin-left: 0;
  }

  .about {
    height: 1000px;
  }

  .aboutInfo {
    flex-direction: column;
    align-items: center;

    height: 150%;
  }

  .aboutImg {
    width: 80%;
  }

  .dev {
    width: 95%;
  }

  .aboutP {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
  }

  .aboutP p {
    font-size: 20px;
    text-align: center;
  }

  .portfolioCont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cardd {
    height: 180px;
    width: 360px;
  }

  .contContacto {
    width: 90%;
  }

  .formContact input {
    font-size: 17px;
  }

  .formContact textarea {
    font-size: 17px;
  }
}

@media (min-width: 1001px) and (max-width: 1450px) {
  .main span br {
    display: block;
    border: 1px solid pink;
  }

  .main span {
    width: 10ch;
    animation: escribiendo 2s steps(10), parpadeo 0.4s infinite alternate;
    overflow: hidden;
  }

  .mainText {
  }

  .mainTitle {
    top: 1%;
  }

  .mainBtns {
    margin-left: 15%;
  }
}
